body {
    background-image: url(groupbackground.png);
    background-repeat: no-repeat;
}

.navbar ul {
  list-style-type: none;  
  display: flex;
  color: black;
  font-size: 20px;
 padding-left: 547px;
 
}
.navbar li {
    margin-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;

}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:link {
    color: rgb(0, 0, 0);
}


.navbar a:visited {
    color:black
}

.navbar a:hover {
    color:white;
}



  .mb-3 {
     margin-top: 120px;
     width: 600px;
     margin-left: 50px;
    
  }

  .mb-4 {
    margin-top: 50px;
    width: 600px;
    margin-left: 50px;
  }

.mb-5 {
  margin-top: 50px;
  width: 600px;
  margin-left: 50px;
}

.mb-6 {
  margin-top: 50px;
  width: 600px;
  margin-left: 50px;
}

.button {
  float: right;
  margin-right: 390px;
  margin-top: -190px;
}

p{
  margin-left: 55px;
}
